In [1]:
import pandas as pd
import json
from datetime import datetime

In [2]:
#reading the raw data file
with open('../data/location_task_no_nulls.json','r') as f:
    data_dict = json.load(f)

In [3]:
print(data_dict.keys())

dict_keys(['order_id', 'order_value', 'order_items_count', 'customer_id', 'created_timestamp_local', 'has_instruction', 'logistics_dropoff_distance', 'delivery_postal_code', 'delivery_geohash_precision8', 'has_phone_number', 'has_call_instruction', 'has_leave_instruction', 'has_lift_instruction', 'has_lobby_instruction', 'has_gate_instruction', 'has_knock_instruction', 'has_bell_instruction'])

In [4]:
for key in data_dict.keys():
    print(key, ':', type(data_dict[key]))

order_id : <class 'dict'>
order_value : <class 'dict'>
order_items_count : <class 'dict'>
customer_id : <class 'dict'>
created_timestamp_local : <class 'dict'>
has_instruction : <class 'dict'>
logistics_dropoff_distance : <class 'dict'>
delivery_postal_code : <class 'dict'>
delivery_geohash_precision8 : <class 'dict'>
has_phone_number : <class 'dict'>
has_call_instruction : <class 'dict'>
has_leave_instruction : <class 'dict'>
has_lift_instruction : <class 'dict'>
has_lobby_instruction : <class 'dict'>
has_gate_instruction : <class 'dict'>
has_knock_instruction : <class 'dict'>
has_bell_instruction : <class 'dict'>

In [5]:
print(list(data_dict['order_id'].keys())[0:10])

['618', '619', '620', '621', '622', '623', '624', '625', '626', '627']

In [6]:
data_dict['order_id']['618']

'b8ds-tqhf'

In [7]:
print(list(data_dict['order_value'].keys())[0:10])

['618', '619', '620', '621', '622', '623', '624', '625', '626', '627']

In [8]:
data_dict['order_value']['618']

40.44

### Finding
* data_dict is a dict with column names as keys
* Each data_dict[column] is also a dict object with row_number as key with data_dict[column][row_number] as the column value

In [9]:
# converting data in dictionary to dataframes and then joining the dataframe on index to create a complete dataframe.
dataframe_list = []
print('Length of smaller dataframes')

for column in data_dict.keys():
    df = pd.DataFrame.from_dict(data_dict[column], orient='index', columns = [column]) #data is present in row format in each dictionary
    print(len(df))
    dataframe_list.append(df)
full_data_df = dataframe_list[0].join(other=dataframe_list[1:], how='inner')
print('Length of joined dataframe =', len(full_data_df))

Length of smaller dataframes
2593799
2593799
2593799
2593799
2593799
2593799
2593799
2593799
2593799
2593799
2593799
2593799
2593799
2593799
2593799
2593799
2593799
Length of joined dataframe = 2593799

### Finding
* Lengths of all dataframes and the final dataframe match. Hence, no row number is missing.

In [10]:
dataframe_list[4].head()

    created_timestamp_local
618     2021-03-11T20:19:50
619     2021-03-12T18:42:48
620     2021-03-27T11:29:17
621     2021-03-02T22:08:52
622     2021-03-23T20:35:26

In [11]:
full_data_df.head()

,order_id,order_value,order_items_count,customer_id,created_timestamp_local,has_instruction,logistics_dropoff_distance,delivery_postal_code,delivery_geohash_precision8,has_phone_number,has_call_instruction,has_leave_instruction,has_lift_instruction,has_lobby_instruction,has_gate_instruction,has_knock_instruction,has_bell_instruction
618,b8ds-tqhf,40.44,10,h6huq0td,2021-03-11T20:19:50,True,58.656138,828868,w23bh248,False,False,False,False,False,False,False,False
619,x5xx-j2d2,35.60,10,t2nod4rq,2021-03-12T18:42:48,True,39.025148,530548,w21zu55k,False,False,False,False,False,False,False,False
620,x6qu-14kt,42.49,12,m4ycd3tm,2021-03-27T11:29:17,True,40.067811,650248,w21z9jc4,False,False,True,False,False,False,False,False
621,x3yw-rhc5,14.40,11,sgmnf9sb,2021-03-02T22:08:52,True,44.986785,550105,w21zg97y,False,False,False,False,False,False,False,False
622,y9zp-58q7,38.15,10,x4rvv3iy,2021-03-23T20:35:26,True,71.520828,102112,w21z61q6,False,False,False,False,False,False,False,False

In [12]:
# checking is join operation was done correctly
for col in data_dict.keys():
    print(data_dict[col]['622'])

y9zp-58q7
38.15
10
x4rvv3iy
2021-03-23T20:35:26
True
71.5208276378
102112
w21z61q6
False
False
False
False
False
False
False
False

In [13]:
# checking if join operation was done correctly
print(len(full_data_df.columns) == len(list(data_dict.keys())))

True

In [18]:
# sorting data by timestamp, and spliting it into test and train sets
# date_str_to_timestamp = lambda x: datetime.strptime(x,'%Y-%m-%dT%H:%M:%S')
# full_data_df['timestamp_unix'] = full_data_df['created_timestamp_local'].apply(date_str_to_timestamp)
# del full_data_df['created_timestamp_local']
full_data_df.sort_values(by='created_timestamp_local', inplace=True)
train_split = int(len(full_data_df)*0.785)
full_data_df.iloc[:train_split,].to_csv('../data/train_data.csv',index=False)
full_data_df.iloc[train_split:,].to_csv('../data/test_data.csv',index=False)